body {
    font-family: 'Nunito', sans-serif;
 
  }
.fullbg{
  background-color: black;
  color: white;
  height: 100vh;
}
.profile-container {
    
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .rounded-profile {
    border-radius: px;
  }
  .btn-black {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

